<svg
  class="text-current group-hover:text-textGray2 group-hover:transition-colors group-hover:duration-200"
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Chevron pointing right</title>
  <path
    d="M8.08748 5L6.91248 6.175L10.7291 10L6.91248 13.825L8.08748 15L13.0875 10L8.08748 5Z"
    fill="currentColor"></path>
</svg>
