<svg
  width="81"
  height="80"
  viewBox="0 0 81 80"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Cloud Off Icon, representing disconnected or unavailable cloud service</title>
  <rect x="0.5" width="80" height="80" rx="16" class="fill-background2Blue"></rect>
  <g clip-path="url(#clip0_76_132)">
    <path
      d="M56.5 42.76C56.5 39.24 53.7667 36.3867 50.3 36.1467C49.3933 31.5467 45.3533 28.0933 40.5 28.0933C38.7267 28.0933 37.0733 28.5733 35.6333 29.3867L37.62 31.3733C38.5133 30.9867 39.4733 30.76 40.5 30.76C44.5533 30.76 47.8333 34.04 47.8333 38.0933V38.76H49.8333C52.0467 38.76 53.8333 40.5467 53.8333 42.76C53.8333 44.08 53.1933 45.2267 52.22 45.96L54.1 47.84C55.5533 46.6133 56.5 44.8133 56.5 42.76ZM30.38 27.9067L28.5 29.7867L32.1933 33.48H31.6333C27.62 33.9067 24.5 37.3067 24.5 41.4267C24.5 45.84 28.0867 49.4267 32.5 49.4267H48.14L50.8067 52.0933L52.6867 50.2133L30.38 27.9067ZM32.5 46.76C29.5533 46.76 27.1667 44.3733 27.1667 41.4267C27.1667 38.48 29.5533 36.0933 32.5 36.0933H34.8067L45.4733 46.76H32.5Z"
      class="fill-blueCF"></path>
  </g>
  <defs>
    <clipPath id="clip0_76_132">
      <rect width="32" height="32" fill="white" transform="translate(24.5 24)"
      ></rect>
    </clipPath>
  </defs>
</svg>
