<svg
  class="text-text group-hover:text-textGray group-hover:transition-colors group-hover:duration-200"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Github Icon</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M11.9702 2C6.45694 2 2 6.4898 2 12.0443C2 16.4843 4.85571 20.2427 8.81735 21.5729C9.31265 21.6729 9.49408 21.3567 9.49408 21.0908C9.49408 20.858 9.47775 20.0598 9.47775 19.2282C6.70429 19.8269 6.12673 18.0308 6.12673 18.0308C5.68102 16.8667 5.02061 16.5676 5.02061 16.5676C4.11286 15.9522 5.08673 15.9522 5.08673 15.9522C6.09367 16.0188 6.62204 16.9833 6.62204 16.9833C7.51327 18.5131 8.94939 18.0808 9.52714 17.8147C9.60959 17.1661 9.87388 16.7171 10.1545 16.4678C7.94245 16.2349 5.6151 15.3702 5.6151 11.512C5.6151 10.4145 6.01102 9.51653 6.63837 8.81816C6.53939 8.56878 6.19265 7.53755 6.73755 6.15735C6.73755 6.15735 7.57939 5.89122 9.47755 7.18837C10.2902 6.9685 11.1283 6.85666 11.9702 6.85571C12.812 6.85571 13.6702 6.97225 14.4627 7.18837C16.361 5.89122 17.2029 6.15735 17.2029 6.15735C17.7478 7.53755 17.4008 8.56878 17.3018 8.81816C17.9457 9.51653 18.3253 10.4145 18.3253 11.512C18.3253 15.3702 15.998 16.2182 13.7694 16.4678C14.1327 16.7837 14.4461 17.3822 14.4461 18.3302C14.4461 19.6771 14.4298 20.7582 14.4298 21.0906C14.4298 21.3567 14.6114 21.6729 15.1065 21.5731C19.0682 20.2424 21.9239 16.4843 21.9239 12.0443C21.9402 6.4898 17.4669 2 11.9702 2Z"
    fill="currentColor"></path>
</svg>
