<svg
  class="dark:hidden"
  width="129"
  height="32"
  viewBox="0 0 129 32"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Enapter Logo</title>
  <path
    d="M30.6665 5.18591L16.2925 9.01344V30.0326L30.6665 26.2015V20.4889L23.3821 22.4277V20.5247L30.6665 18.5823V12.8696L23.3821 14.8085V12.9055L30.6665 10.9666V5.18591Z"
    fill="#2FCACA"></path>
  <path
    d="M14.374 24.3165L1.91479 20.9978V26.7105L14.374 30.0327V24.3165ZM14.374 16.6972L1.91479 13.3786V19.0912L14.374 22.4099V16.6972ZM14.374 9.01351L1.91479 5.69847V11.4756L14.374 14.7942V9.01351ZM25.9424 4.5409L15.3332 1.71326L4.72397 4.5409L15.3332 7.36495L25.9424 4.5409Z"
    fill="white"></path>
  <path
    d="M29.7135 3.68776L16.4068 0.12185C16.1272 0.0465898 15.7079 0 15.2384 0C14.769 0 14.3496 0.0465898 14.0701 0.12185L0.763355 3.68776C0.763355 3.68776 0 3.89204 0 4.56938V27.427C0 28.108 0.763355 28.3122 0.763355 28.3122L14.0701 31.8781C14.3496 31.9534 14.769 32 15.2384 32C15.7079 32 16.1272 31.9534 16.4068 31.8781L29.7135 28.3122C29.7135 28.3122 30.4733 28.108 30.4769 27.4306V26.2014L16.1917 30.0325V9.01333L30.4769 5.1858V4.56938C30.4769 3.89204 29.7135 3.68776 29.7135 3.68776ZM14.2851 30.0325L1.90301 26.7139V20.9976L14.2851 24.3163V30.0325ZM14.2851 22.4133L1.90301 19.0946V13.3784L14.2851 16.6971V22.4133ZM14.2851 14.794L1.90301 11.4754V5.69829L14.2851 9.01691V14.794ZM15.2384 7.36477L4.69481 4.54071L15.2384 1.71665L25.7821 4.54071L15.2384 7.36477Z"
    fill="#003040"></path>
  <path
    d="M23.2375 14.8083L30.4769 12.8694V10.9664L23.2375 12.9053V14.8083Z"
    fill="#003040"></path>
  <path
    d="M23.2375 22.4275L30.4769 20.4886V18.582L23.2375 20.5245V22.4275Z"
    fill="#003040"></path>
  <path
    d="M127.885 11.8154C127.11 11.8154 126.418 12.01 125.804 12.3954C125.194 12.7846 124.745 13.3422 124.461 14.072L124.236 12.0848H121.62C121.74 13.0241 121.8 14.087 121.8 15.2808V23.3717H124.573V17.2679C124.573 16.3586 124.824 15.6288 125.321 15.0787C125.819 14.5286 126.549 14.2516 127.503 14.2516C128.008 14.2516 128.502 14.3489 128.978 14.5435L129 11.995C128.689 11.8752 128.315 11.8154 127.885 11.8154Z"
    fill="#003040"></path>
  <path
    d="M114.012 11.7933C112.953 11.7933 112.006 12.0441 111.172 12.5418C110.337 13.0395 109.69 13.7356 109.226 14.63C108.761 15.5244 108.533 16.5461 108.533 17.6913C108.533 19.51 109.061 20.9396 110.12 21.9837C111.179 23.0278 112.631 23.548 114.48 23.548C115.284 23.548 116.078 23.417 116.86 23.1588C117.642 22.9006 118.301 22.5525 118.84 22.1184L118.035 20.1949C116.976 20.9995 115.827 21.3999 114.592 21.3999C113.518 21.3999 112.71 21.1117 112.167 20.5392C111.624 19.9666 111.321 19.0759 111.261 17.8671H119.042V17.4443C119.042 15.6854 118.589 14.3044 117.687 13.2978C116.789 12.2948 115.561 11.7933 114.012 11.7933ZM111.351 16.374C111.486 15.5394 111.789 14.9032 112.257 14.4616C112.725 14.0238 113.335 13.803 114.079 13.803C114.824 13.803 115.412 14.02 115.834 14.4504C116.261 14.8845 116.516 15.5244 116.605 16.374H111.351Z"
    fill="#003040"></path>
  <path
    d="M64.6693 11.7933C63.8347 11.7933 63.0862 11.9805 62.4201 12.3509C61.7577 12.7252 61.2301 13.2528 60.8446 13.9377L60.6425 12.0815H58.0266C58.1464 13.0208 58.2062 14.0836 58.2062 15.2774V23.3684H60.9793V16.9802C60.9793 16.0858 61.2413 15.3673 61.7615 14.8246C62.2816 14.282 62.9702 14.0088 63.8197 14.0088C64.5345 14.0088 65.0659 14.2146 65.4065 14.6225C65.7508 15.0342 65.9192 15.6854 65.9192 16.5798V23.3721H68.7147V16.4413C68.7147 13.3427 67.3675 11.7933 64.6693 11.7933Z"
    fill="#003040"></path>
  <path
    d="M44.6665 23.3722H55.3097V21.0894H47.4845V16.5536H54.8419V14.2746H47.4845V9.73886H55.3097V7.45978H44.6665V23.3722Z"
    fill="#003040"></path>
  <path
    d="M80.0839 13.7837C79.7396 13.1588 79.2494 12.6685 78.6094 12.3205C77.9695 11.9725 77.236 11.7966 76.4164 11.7966C75.4472 11.7966 74.5827 12.0473 73.823 12.545C73.0633 13.0428 72.4683 13.7463 72.0454 14.6445C71.6188 15.5464 71.4092 16.5793 71.4092 17.7394C71.4092 18.9033 71.6187 19.9212 72.0341 20.8006C72.4495 21.6801 73.0408 22.3574 73.8005 22.8327C74.5602 23.308 75.4322 23.5475 76.4164 23.5475C77.236 23.5475 77.9658 23.3716 78.6094 23.0236C79.2494 22.6755 79.7434 22.1853 80.0839 21.5603V23.3716H82.8345V12.0847H80.0839V13.7837ZM79.3242 20.3965C78.819 21.0364 78.1005 21.3582 77.1761 21.3582C76.2368 21.3582 75.5108 21.0439 74.9943 20.4189C74.4816 19.7939 74.2234 18.8995 74.2234 17.7357C74.2234 16.5606 74.4816 15.6399 74.9943 14.9738C75.507 14.3114 76.2293 13.9784 77.1537 13.9784C78.093 13.9784 78.8153 14.3002 79.3242 14.9401C79.8294 15.5801 80.0839 16.4969 80.0839 17.6907C80.0839 18.8546 79.8294 19.7565 79.3242 20.3965Z"
    fill="#003040"></path>
  <path
    d="M103.979 8.39551L101.183 9.33483V12.0854H99.0127V14.1849H101.183V19.368C101.183 20.7078 101.528 21.7369 102.212 22.4517C102.897 23.1665 103.881 23.5258 105.165 23.5258C105.865 23.5258 106.464 23.4359 106.954 23.2563V21.0446C106.55 21.1644 106.179 21.2242 105.835 21.2242C104.596 21.2242 103.979 20.5618 103.979 19.237V14.1849H106.976V12.0854H103.979V8.39551Z"
    fill="#003040"></path>
  <path
    d="M95.2255 12.5418C94.4733 12.0441 93.6126 11.7933 92.6433 11.7933C91.7639 11.7933 90.9892 11.9917 90.3193 12.3846C89.6494 12.7813 89.1629 13.3277 88.8673 14.0275L88.6427 12.0815H86.0269C86.1466 13.0208 86.2065 14.0836 86.2065 15.2774V28.5403H88.9796V21.5608C89.3238 22.1858 89.8141 22.676 90.454 23.0241C91.094 23.3759 91.8237 23.548 92.647 23.548C93.6313 23.548 94.4995 23.3085 95.2517 22.8332C96.0039 22.3579 96.5877 21.6806 97.0069 20.8011C97.4223 19.9217 97.6318 18.9 97.6318 17.7399C97.6318 16.576 97.4185 15.5469 96.9956 14.645C96.569 13.7431 95.9777 13.0433 95.2255 12.5418ZM94.0504 20.4194C93.5452 21.0444 92.8192 21.3587 91.8799 21.3587C90.9405 21.3587 90.2183 21.0406 89.7093 20.4082C89.2041 19.7757 88.9496 18.8701 88.9496 17.6913C88.9496 16.5012 89.2041 15.5843 89.7093 14.9406C90.2145 14.3007 90.948 13.9789 91.9023 13.9789C92.8267 13.9789 93.5415 14.3119 94.0504 14.9743C94.5556 15.6367 94.8101 16.5573 94.8101 17.7362C94.8101 18.9 94.5594 19.7944 94.0504 20.4194Z"
    fill="#003040"></path>
</svg>
