<svg
  width="80"
  height="80"
  viewBox="0 0 80 80"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>UCM Integration Icon</title>
  <rect width="80" height="80" rx="16" class="fill-background2Blue"></rect>
  <path
    d="M51.785 33.8683C52.305 33.3483 52.305 32.5083 51.785 31.9883L48.0117 28.215C47.4917 27.695 46.6517 27.695 46.1317 28.215L40.145 34.2016L34.9583 29.015C33.9183 27.975 32.225 27.975 31.185 29.015L28.6517 31.5483C27.6117 32.5883 27.6117 34.2816 28.6517 35.3216L33.8383 40.5083L27.825 46.5216V52.175H33.4783L39.505 46.1483L44.6917 51.335C45.9583 52.6016 47.665 52.135 48.465 51.335L50.9983 48.8016C52.0383 47.7616 52.0383 46.0683 50.9983 45.0283L45.8117 39.8416L51.785 33.8683ZM30.545 33.4283L33.065 30.895L34.7583 32.5883L33.185 34.175L35.065 36.055L36.6517 34.4683L38.2517 36.0683L35.7183 38.6016L30.545 33.4283ZM45.5183 43.3483L43.9317 44.935L45.8117 46.815L47.3983 45.2283L49.0917 46.9216L46.5583 49.455L41.3717 44.2683L43.905 41.735L45.5183 43.3483ZM32.3717 49.5083H30.4917V47.6283L43.305 34.815L45.185 36.695L32.3717 49.5083ZM45.185 32.9216L47.065 31.0416L48.945 32.9216L47.065 34.8016L45.185 32.9216Z"
    class="fill-blueCF"></path>
</svg>
