---
import Layout from "../layouts/Layout.astro";
import EnapterGateway from "../components/EnapterGateway.astro";
import WhatsNew from "../components/WhatsNew.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
---

<Layout title="Enapter Gateway - Connect and Manage Your Energy Systems">
  <main
    class="grow mt-8 md:mt-20 "
    aria-label="Main content of the page"
  >
    <EnapterGateway />
    <WhatsNew />
    <ImageCarousel />
  </main>
</Layout>
