---
import DiscordIcon from "./imageComponents/DiscordIcon.astro";
---

<a
  href="https://go.enapter.com/discord"
  target="_blank"
  class="body-link group text-sm text-text leading-6 font-medium border border-border py-1 px-3 rounded-full flex items-center gap-1 hover:border-borderHover hover:transition-colors hover:duration-200"
  aria-label="Join Enapter Discord community"
>
  <DiscordIcon />
  Discord
</a>
